@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-lato: "Lato", "serif";
  --font-yf-ecto: "YFFRARE-Ecto", "serif";
  --font-yf-hyper: "YFFRARE-Hyper", "serif";
  --font-yf-giga: "YFFRARE-Giga", "serif";
}

html, body {
  height: 100%;
  background-color: #000;
  color: white;
}

/* 
.yffra-ecto {
  font-family: var(--font-yffra-ecto);
} 
*/

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YFFRARE-Hyper";
  src: url("/fonts/YFFRARETRIAL-HyperMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YFFRARE-Giga";
  src: url("/fonts/YFFRARETRIAL-GigaMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@layer base {
  @font-face {
    font-family: "YFFRARE-Ecto";
    src: url("/fonts/YFFRARETRIAL-EctoBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}